<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev. Bruno Estevam</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}

    <link href="{% static 'main.css'  %}" rel="stylesheet" type="text/css">


    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3"> 

    <style>
        body {
            background-image: url({% static 'background.jpg' %});
        background-size: cover;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Meu Portifólio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <br><br /><br />
   

  
  
        
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100  border-info" id="profile-wrapper">
                        <img id="profile-pic" src="{% static 'BrunoEstevam.jpg' %}">
                        <hr>
                        <h4>Hi I'm Bruno!</h4>
                        <p>I love coding, doing research and collaborating</p>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card card-body h-100  border-info">
                        <h4>Minha trajetória como desenvolvedor</h4>
                        <hr>
                        <p>Desde sempre tive facilidade com programação, porém eu nunca tentei nada profissional</p>

                        <p>Desenvolvia aplicações em C# desktop para eu mesmo e amigos.</p>

                        <p>Mas a partir de 2018, retomei os estudos com o objetivo de dominar o desenvolvimento web.</p>

                        <p>Realizei alguns projetos para profissionais locais de outras áreas e assim obtendo experiência.</p>

                        <ul class="social-links">
                            <a href="https://www.facebook.com/bruno.estevam.9469">
                                <li><img class="social" src="{% static 'facebook.png' %}"></li>
                            </a>
                            <a href="https://www.linkedin.com/in/bruno-estevam-63358b196/">
                                <li><img class="social" src="{% static 'linkedin.png' %}"></li>
                            </a>
                            <a href="https://twitter.com/BrunoooEstevam">
                                <li><img class="social" src="{% static 'twitter.png' %}"></li>
                            </a>
                            <a href="https://github.com/BrunoEstevamRJ">
                                <li><img class="social" src="{% static 'GitHub.png' %}"></li>
                            </a>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>Minha experiência como Desenvolvedor</h5>
                        <hr>
                        <p>Dev Full stack</p>
                        <p>Desenvolvo APIs e websites utilizando o Framework Django</p>
                        <p>Atualmente estudo ReactJS e VUE para utilizar no frontend</p>
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>What I Know</h5>
                        <hr>
                        <p>Python, Django, Java, Spring, C#, Javascript, ExpressJS HTML/CSS, JavaScript, React/VUE, Postgres, MySQL, SLQ Server</p>
                        <p>PS: Working on ASP.Net and Machine Learning.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>How I Learn</h5>
                        <hr>
                        <p>Reverse Engineer & Build Ugly Prototypes First.</p>

                        <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>My Short Term Goals</h5>
                        <hr>
                        <p>After almost two years of supporting my system at the lab I'm ready to learn something new. I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) & youtube channel.</p>
                        <p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

                    </div>
                </div>
            </div>
            <br>
        </div>

        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>

</html>
